In [21]:
# All the imports and packages used
import pandas as pd 
import researchpy as rp
import numpy as np
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
import statsmodels.stats.multicomp as mc


rq3 = pd.read_csv('rq3dataset.csv')

# RQ3 - One way ANOVA for Perceived trust  vs Topics

In [22]:
model3 = ols('Trust ~ C(Topic)', data=rq3).fit()
aov_table3 = sm.stats.anova_lm(model3, typ=2)
aov_table3

              sum_sq     df          F        PR(>F)
C(Topic)   83.037684    3.0  34.060479  9.684172e-21
Residual  659.871324  812.0        NaN           NaN

In [23]:
def anova_table(aov):
    aov['mean_sq'] = aov[:]['sum_sq']/aov[:]['df']

    aov['eta_sq'] = aov[:-1]['sum_sq']/sum(aov['sum_sq'])

    aov['omega_sq'] = (aov[:-1]['sum_sq']-(aov[:-1]['df']*aov['mean_sq'][-1]))/(sum(aov['sum_sq'])+aov['mean_sq'][-1])

    cols = ['sum_sq', 'df', 'mean_sq', 'F', 'PR(>F)', 'eta_sq', 'omega_sq']
    aov = aov[cols]
    return aov

anova_table(aov_table3)

,sum_sq,df,mean_sq,F,PR(>F),eta_sq,omega_sq
C(Topic),83.037684,3.0,27.679228,34.060479,9.684172e-21,0.111774,0.108374
Residual,659.871324,812.0,0.812649,NaN,NaN,NaN,NaN

## Check for Homogeneity of variance

In [24]:
stats.levene(rq3['Trust'][rq3['Topic'] == 'Abortion'],
               rq3['Trust'][rq3['Topic'] == 'Climate change'],
               rq3['Trust'][rq3['Topic'] == 'Entertainment'],
               rq3['Trust'][rq3['Topic'] == 'Gun control']
              )

LeveneResult(statistic=10.653961560975283, pvalue=7.110863232125349e-07)

## Assumption check - Shapiro-Wilk test

In [25]:
stats.shapiro(model3.resid)

ShapiroResult(statistic=0.9918550848960876, pvalue=0.0001825274812290445)

## Post Hoc - Tukey Honestly Significant Difference (HSD)

In [26]:
comp = mc.MultiComparison(rq3['Trust'], rq3['Topic'])
post_hoc_res3 = comp.tukeyhsd()
post_hoc_res3.summary()